<div class="navbarContainer">

<nav class="navbar">
    <h1 id="textIcon">Habil</h1>
    <div class="navbarButtonContainer">
    <ul id="navbarUl">
         <li>
            <a href="#top"><button  class="navbarButton">Introduction</button></a>
        </li>
        <li>
            <a href="#techStack"><button  class="navbarButton">Tech Stack</button></a>
        </li>
        <li>
            <a href="#worksExperience"><button  class="navbarButton">Experience</button></a>
        </li>
        <li>
            <a href="#myProjects"><button  class="navbarButton"><p>Projects</p></button></a>
        </li>
        <li>
            <button class="navbarButton" id="darkMode">Dark Mode</button>
        </li>
    </ul>
    </div>
</nav>

<script src="/scripts/darkMode.js"></script>

</div>
