<nav class="navbar">
    <h1 id="textIcon">Habil233z</h1>
    <ul id="navbarUl">
         <li>
            <a href="#top"><button  class="navbarButton">Introduction</button></a>
        </li>
        <li>
            <a href="#techStack"><button  class="navbarButton">Tech Stack</button></a>
        </li>
        <li>
            <a href="#worksExperience"><button  class="navbarButton">Experience</button></a>
        </li>
        <li>
            <a href="#myProjects"><button  class="navbarButton">Projects</button></a>
        </li>
    </ul>
</nav>
