html {
    scroll-behavior: smooth;
}

#techStack {
    padding: 30px;
}

#worksExperience {
    padding: 30px;
}

#myProjects {
    padding: 30px;
}

body{
    margin: 0px;
}

.navbar {
    z-index: 2;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
}

#textIcon {
    padding-top: 10px;
    height: 45px;
    margin-left: 10%;
}

.navbarButtonContainer {
    margin-right: 10%;
}

#navbarUl{
    left: 200px;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 30px;
}

.navbarButton {
    height: 50px;
    width: 100px;
    border: none;
    background-color: white;
    font-size: medium;
}

.padding {
    height: 70px;
}

.main {
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.identity {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

#profilePic{
    width: 272px;
    height: 362px;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.introduction {
    height: 400px;
    width: 50%;
    padding: 40px;
}

#location {
    display: flex;
    align-items: center;
}

#homeIcon {
    padding-right: 5px;
    height: 30px;
}

.reachOutButton {
    font-size: larger;
    background-color: #9AD872;
    border-radius: 10px;
    padding-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reachOutIcon {
    height: 25px;
}

.h1Title {
    margin-left: 10%;
}

.carouselContainer {
    margin-left: 10%;
    margin-right: 10%;
    border: 5px solid black;
    border-top: 0px;
    border-bottom: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.carousel {
    display: flex;
    width: 100%;
    overflow-x: auto;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carouselGroup{
    width: 100%;
    display: flex;
    justify-content: space-between;
    animation: spin 15s infinite linear;
    padding-right: 1em;
    gap: 1em;
}

.carouselCard {
    margin-top: 5px;
    margin-bottom: 5px;
    flex:  0 0 5em;
    height: 60px;
    text-align: center;
    align-content: center ;
}

.imgCard {
    height: 60px;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

.workExperiencesContainer {
    min-height: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.workCard {
    background-color: #EEEEEE;
    display: flex;
    width: 96%;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-bottom: 20px;
    
}

.corporation {
    display: flex;
}

.workImage {
    margin-top: 20px;
    height: 100px;
    width: 100px;
    margin-right: 10px;
}

.workingTimeArea {
    flex-direction: row-reverse;
    margin-right: 20px;
}

.myProjects {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}

.projectsContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projectsCard {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projectImage {
    margin-top: 20px;
    height: 200px;
}

.projectIntro {
    height: 100px;
    margin: 10px;
}

.projectIntroText {
    height: 100%;
    overflow: hidden;
}

.projectTagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.projectTags {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    background-color: red;
    border: 2px solid black;
}

.toGithub {
    margin: 10px;
    background-color: blue;
    font-size: large;
    
}

.contactH1 {
    text-align: center;
}

.contactP {
    text-align: center;
    font-size: large;
}

.contactIcon {
    height: 15px;
    padding-bottom: 0px;
    margin-right: 5px;
}

.footerContainer {
    width: 100%;
    height: 50px;
    margin-top: 70px;
    border-top: 1px solid gray;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}